# Файлы сборки и компиляции
build/
out/
*.exe
*.out
*.app

# Файлы IDE, например, от VSCode
.vscode/
*.code-workspace

# Временные файлы операционной системы
.DS_Store
Thumbs.db

# Файлы документации, если они генерируются (например, из LaTeX)
*.aux
*.log
*.toc
*.pdf